body {
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: sans-serif;
  background-color: lightgrey;
  text-align: center;
}

.title{
  position: absolute;
  top: 20px;
  left: 50%;
  text-align: center;
  font-family: sans-serif;
  font-size:2em;
  font-weight: bold;
}

.container {
  /*Overall Container for Left Grid, Right Grid, Color Picker*/
  width: 100vw;
  /*height: 90vh;*/
  display: flex;
  flex-direction: row;
  padding-top: 10vh;
  /*border: 1px solid black;*/
  justify-content: center; /* Centers horizontally */
  /*align-items: center;     /* Centers vertically  */
  gap: 30px;
  margin-top: auto;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(30, 1.2em);
  gap: 0px;
  border: 2px solid black;
}

.grid-container button{
  width: 100%; 
  padding: 0px;
  border: 0px solid black;
  aspect-ratio: 1 / 1; 
}

.grid-container button:hover{
  /*scale:1.2;*/
  border:1px solid black;
}

.right-grid-container{
  display: grid;
  grid-template-columns: repeat(30, 1.2em);
  gap: 0px;
  border: 2px solid black;
}

.right-grid-container button{
  width: 100%; 
  padding: 0px;
  border: .5px solid black;
  aspect-ratio: 1 / 1; 
}

.right-grid-container button:hover{
  scale:1.2;
  cursor: pointer;
}


.card {
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
  text-align: center;
  /*flex: 0 0 1;*/
  /*background-color: lightgrey;*/
}

.color_selector_container{
  /*grid-template-rows: repeat(10, 1.2em);*/
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */  
  height: 36em;
  width:6em;
}

.color_selector_container button{
  padding: 0px;
  border: 0.5px solid black;
  width:100%;
  height:3.6rem;
  cursor: pointer;
  box-sizing: border-box;
}

.color_selector_container button:hover{
  border: 4px solid black;
  box-sizing: border-box;
}


.clicked_color {
  border: 4px solid black !important;
  box-sizing: border-box;
}

.clicked_square {
  scale:1.2;
}

.bottom_row_container {
  display: flex;
  flex-direction: row;
  /*border: 1px solid black;*/
  justify-content: space-between; 
  align-items: center;     /* Centers vertically */  
  padding-top: 10px;
}

.bottom_row_container button{
  padding: 10px;
  border: 3px solid black;
  background-color: white;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  /*transition: background-color 0.1s ease-in-out;*/
}

.bottom_row_container button:hover{
  background-color: lightskyblue;
}

.bottom_row_container button:active{
  background-color: dodgerblue;
}

